body {
	position:fixed;
	margin: 0;
	overflow: hidden;
}

#block{
	position:absolute;
	margin:0;
	width:2000px;
	height: 1000px;
	background-color: #FFF;
	overflow: hidden;
	
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	-ms-transition: all 1s linear;
	transition: all 1s linear;
}

#start_arrow{
	position: absolute;
	width:200px;
	height:200px;
	
	background-image: url("../images/arrow.png");
	top: 100px;
	left: 635px;
}

#log{
	position:fixed;
	
	width: 100px;
	height: 55px;
/*	width: 402px;
	height: 135px;*/
	top: 20px;
	border-color: #CCCCCC;
	border-style:solid;
	border-width:1px;
	box-shadow:0 0 8px #888;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #FFF;
	background-color: rgba(255,255,255, 0.8);
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding:10px 0px 0px 10px;
	
	opacity: 0;
	-webkit-transition: all 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: all 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.content{
	position:absolute;
	width:11000px;
	height: 800px;

	-webkit-transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.content_no_easing{
	position:absolute;
	width:11000px;
	height: 800px;

	-webkit-transition: all 0s linear;
	-moz-transition: all 0s linear;
	-o-transition: all 0s linear;
	-ms-transition: all 0s linear;
	transition: all 0s linear;
}


.content_top{
	position:absolute;
	width:11000px;
	height: 800px;
	
	-webkit-transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.content_top_no_easing{
	position:absolute;
	width:11000px;
	height: 800px;

	-webkit-transition: all 0s linear;
	-moz-transition: all 0s linear;
	-o-transition: all 0s linear;
	-ms-transition: all 0s linear;
	transition: all 0s linear;
}

.my_top_elem{
	position:absolute;
	float: left;
	clear: none;
	
	-webkit-transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

#container{
	position:relative;
	width:11000px;
	height: 1100px;
	top: -150px;
}

.moodboard{
	width: 1000px;
	height: 1100px;
	position: relative; 
	overflow: hidden;
	float: left;
	clear: none;
}

.moodboard img{
	width: 1000px;
	height: 1100px;
}


#vid{
	opacity: 0;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
	
	position: absolute;
	width: 800px;
	height: 450px;
	top: 100px;
	left: 4150px;
	z-index: 500;
}

#gyro{
	position:absolute;
	border-radius:10px;
/*	border-style:solid;*/
	/*border-color:#666;
	border-width:1px;*/
	top:12px;
	left:280px;
	-webkit-box-shadow: inset 1px 2px 3px #888; 
	-webkit-perspective: 10000;
	width:120px;
	height:120px;
	background-color: rgba(235, 235, 235, 0.8);
	z-index: 2000;
	
	opacity: 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.axis{
	position: absolute;
	width: 100px;
	height: 100px;
	top:10px;
	left:10px;
	
	border-radius: 100px;
	border-style: solid;
	border-width:2px;	
	border-color: #FFF;
	
	
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 0s linear;
	-moz-transition: all 0s linear;
	-o-transition: all 0s linear;
	-ms-transition: all 0s linear;
	transition: all 0s linear;
}

#a_x{
/*	-webkit-transform: rotateZ(45deg);*/
	background-image: linear-gradient(bottom, rgba(255,0,0,.5) 100%, rgba(255,255,255,.5) 0%);
	background-image: -o-linear-gradient(bottom, rgba(255,0,0,.5) 100%, rgba(255,255,255,.5) 0%);
	background-image: -moz-linear-gradient(bottom, rgba(255,0,0,.5) 100%, rgba(255,255,255,.5) 0%);
	background-image: -webkit-linear-gradient(bottom, rgba(255,0,0,.5) 100%, rgba(255,255,255,.5) 0%);
	background-image: -ms-linear-gradient(bottom, rgba(255,0,0,.5) 100%, rgba(255,255,255,.5) 0%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(255,0,0)),
		color-stop(0, rgb(255,255,255))
	);
}

#a_y{
/*	-webkit-transform: rotateY(45deg);*/
	background-image: linear-gradient(bottom, rgba(13,255,0,.5) 100%, rgba(255,255,255,.5) 0%);
	background-image: -o-linear-gradient(bottom, rgba(13,255,0,.5) 100%, rgba(255,255,255,.5) 0%);
	background-image: -moz-linear-gradient(bottom, rgba(13,255,0,.5) 100%, rgba(255,255,255,.5) 0%);
	background-image: -webkit-linear-gradient(bottom, rgba(13,255,0,.5) 100%, rgba(255,255,255,.5) 0%);
	background-image: -ms-linear-gradient(bottom, rgba(13,255,0,.5) 100%, rgba(255,255,255,.5) 0%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgba(13,255,0, .5)),
		color-stop(0, rgba(255,255,255, .5))
	);
}

#a_z{
/*	-webkit-transform: rotateX(45deg);*/
	background-image: linear-gradient(bottom, rgba(0,13,255,.5) 100%, rgba(255,255,255,.5) 0%);
	background-image: -o-linear-gradient(bottom, rgba(0,13,255,.5) 100%, rgba(255,255,255,.5) 0%);
	background-image: -moz-linear-gradient(bottom, rgba(0,13,255,.5) 100%, rgba(255,255,255,.5) 0%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,13,255,.5) 100%, rgba(255,255,255,.5) 0%);
	background-image: -ms-linear-gradient(bottom, rgba(0,13,255,.5) 100%, rgba(255,255,255,.5) 0%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgba(0,13,255,.5)),
		color-stop(0, rgba(255,255,255,.5))
	);
}

.axis_arrow{
	position: absolute;
	left: 50px;
	height: 100px;
	width: 1px;
	background-color: #000000;
}

.axis_arrow_tilt{
	position: absolute;
	top: 50px;
	height: 1px;
	width: 100px;
	-webkit-transform: rotateZ(45deg);
	background-color: #000000;
}

.axis_arrow_flip{
	position: absolute;
	left: 50px;
	height: 100px;
	width: 1px;
	-webkit-transform: rotateZ(90deg);
	background-color: #000000;
}

#toggle{
	position:fixed;
	top:0px;
	left:790px;
	width:500px;
}
